.footer
  background-color: $color-blue-dark
  // display: grid
  grid-column: full-start / full-end
  // grid-rows: repeat(2, 1fr)
  display: grid
  // grid-template-rows: auto minmax(auto, 1fr)
  grid-template-rows: auto auto
  padding: 8rem 3rem
  border-top: solid 0.3rem $color-gray-light
  grid-row-gap: 8rem
  
  // justify-content: center
  
  &__svg
    display: block
    grid-row: 1 / 2
    // grid-column: 1 / -1
    width: 12rem
    height: 4.1rem
    justify-self: center
    // padding-bottom: 8rem
    margin: auto auto
  &__links
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(17rem,1fr) )
    // justify-items: center
    // margin: 0 auto
    grid-gap: 3.6rem
  &__link
    color: $color-gray-light
    font-size: 1.6rem
    font-weight: 300
    // margin-right: 3.6rem
    // margin-bottom: 3.6rem
    text-decoration: none
    text-align: center
    line-height: 2.2rem
   
    
  
  